body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #e8ffe8;
  color: #0a3d0a;
}

header {
  background: #1f7a1f;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #c2ffc2;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

#resultado {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #0a3d0a;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #1f7a1f;
  font-size: 16px;
}

button {
  background: #1f7a1f;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #145214;
}


img {
  width: 450px;
  height: auto;
  background: #b5e6b5; 
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #145214;
  font-weight: bold;
  font-size: 18px;
}